venv/
.venv/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.spec
icon_gen_status.txt
zone_new_companion/icon/app.png
zone_new_companion/icon/app.ico
.DS_Store
*.egg-info/
*.db
*.sqlite
*.sqlite3
